@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .layout {
    max-width: 70rem;
    @apply mx-auto w-11/12;
  }

  .h0 {
    @apply font-bold font-sans text-3xl md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-bold font-sans text-2xl md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-bold font-sans text-xl md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-bold font-sans text-lg md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-bold font-sans text-base md:text-lg;
  }

  body,
  .p {
    @apply font-sans text-sm md:text-base;
  }

  a,
  .a {
    @apply cursor-pointer font-sans hover:underline text-inherit text-secondary-500 transition-all;
  }

  input {
    @apply focus:outline-none;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

  .inset-center {
    @apply absolute left-1/2 top-1/2;
    transform: translate(-50%, -50%);
  }
}
